# Gradle
*.iml
.gradle/
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
captures/
.externalNativeBuild/
.cxx/
apikey.properties

# Android Studio
.idea/deploymentTargetSelector.xml
.idea/codeStyles/

# Output folders
app/release/

# Jetpack Compose Previews
*.preview

# OS-specific
*.swp
